<table cellpadding="5" width="600px">
  <tr style="background-color:#ddd;">
    <th width="440px">Name</th>
    <th colspan="4"> </th>
  </tr>

<% for x in @songs %>
  <tr style="background-color:#fff;">
    <td style="font-weight:bold;"><%= link_to x.name, x %></td>
    <td colspan=3 align="center">

		<object type="application/x-shockwave-flash"
		data="/mod/musicplayer_f6.swf?&song_url=<%= x.lo_link %>" 
		width="18" height="18">
		<param name="movie" 
		value="/mod/musicplayer_f6.swf?&song_url=<%= x.lo_link %>" />
		<img src="/images/icon/noflash.gif" 
		width="18" height="18" alt="" />
		</object>
	</td>
    <td><%= link_to 'Edit', [:edit, x] %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @posts %>
<%= link_to "home", home_url %>
